APP_NAME=OLT Websocket Gateway

APP_ENV=development

WS_PORT=8080

SSH_HOST=172.20.0.2
SSH_PORT=22
SSH_USERNAME=admin
SSH_PASSWORD=admin

LOG_LEVEL=debug

COMMAND_TIMEOUT=10000

KEEPALIVE_INTERVAL=30000

QUEUE_LIMIT=100
